{% extends 'recipes/base.html' %}
{% load static %}

{% block content %}
<div class="row m-5">
    <div class="col-6 text-center py-5" id="recipetext">
        <p> Welcome to Recipe book! </p>
        <p>
             My name is Oumayma, and I created Recipe book to gather all the easy, fast recipes I have been making recently.
        </p>
        <p>
            I use Halal ingredients that are available localy. and i costumize my recipes to be healthier
            by adding a variaty of vegetables.
        </p>
        <p>
            I hope that the recipes here inspire you to try cooking a new dish for yourself or your loved ones. 
        </p>
    </div>

    <div class="col-6 text-center">
        <img class="img-fluid" src="https://img.freepik.com/vector-premium/cute-bakery-chef-girl-cooking-working-in-restaurant-with-recipe-book-and-ladle-cartoon-character-ilustracion-arte-dibujos-animados_56104-50.jpg?w=1480">
    </div>
        
</div>
{% endblock %}