{% load static %}


<!doctype html>
<html lang="en" style="background-color:hsl(0, 0%, 0%)">


<head>
    <!-- CSS only -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'recipes/custom.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

    <link rel="icon" type="image/png"
        href="https://w7.pngwing.com/pngs/628/615/png-transparent-ramen-ramen-glass-food-scissors.png">

    <title>Recipe book</title>
</head>


<body>
    <div class="container-fluid">
        <div class="row">
        <nav class="navbar navbar-expand-lg p-3 navbar-light bg-light" id="navcolor">
              <a class="navbar-brand" href="{% url 'recipes:home' %}"><img class="img-fluid mx-3" src="https://www.coolgenerator.com/Data/Textdesign/202208/da91f757b95c58d4dc7e126d4eb3a125.png"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end mx-4" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Recipes
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{% url 'recipes:asian' %}">Asian</a></li>
                          <li><a class="dropdown-item" href="{% url 'recipes:italian' %}">Italian</a></li>
                        </ul>
                      </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#">About</a>
                  </li>
                </ul>
              </div>
          </nav>
</div>

    <div class="container-fluid">
        {% block content %} {% endblock %}
    </div>
    </div>
</body>

</html>