{% extends 'recipes/base.html' %}

{% block content %}
<div class="row">
    <div class="col-12 text-center my-4">
        <img class="img-fluid" src="https://www.coolgenerator.com/Data/Textdesign/202208/d0d2a14083d89c42db7d3aeb44f4b364.png">
    </div>
</div>

<div class="row">
    <div class="col-4 p-4">
        <img class="img-fluid p-3" src="https://www.coolgenerator.com/Data/Textdesign/202208/58878c1e4402d67bd658c7bb87f6decd.png">
        <img class="img-fluid p-3" src="https://cdn.apartmenttherapy.info/image/upload/f_auto,q_auto:eco,c_fill,g_center,w_730,h_913/k%2Farchive%2Fa2db1f988feefd24684dc9d400303265c8480b55">
        <img class="img-fluid p-3" src="https://i.pinimg.com/564x/d1/f2/a4/d1f2a442fe62d8270050f93124a830f3.jpg">
    </div>
        <div class="col p-3">
        <img class="img-fluid" src="https://www.thespicedchickpea.com/media/1402/img_2280.jpg">

    </div>
</div>
{% endblock %}