{% extends 'recipes/base.html' %}
{% load static %}


{% block content %}    
    <div class="row m-5 justify-content-center">
       {% for italian in italians %}
    <div class="col-5 text-center m-4">



      <a href="{% url 'recipes:italiandetail' italian.id %}">
    <div class="card p-1" style="width: 500px; height: 600px;" id="recipescards">
        {% if italian.image %}
            <img src="{{ italian.image.url }}" height="70%" width="100%" class="card-img-top">
        {% endif %}
        <div class="card-body text-center">
          <h5 class="card-title" id="recipetitle">{{ italian.title }}</h5>
        </div>
      </div>
    </a>
    
    
</div>

{% endfor %}
</div>
</div>
{% endblock %}